nav{
    height: 10vh;
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    position: absolute;
    top: 0;
    width: 100vw;
    background-color: var(--bg1);
    user-select: none;
}

#nav-left, #nav-logo{
    height: 8vh;
    padding-right: 0.5em;
    font-size: 1.3em;
}

#nav-left{
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

#navItems{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.nav-item>a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.2em;
    padding: 1em;
}

.nav-item>a:hover{
    text-decoration: underline;
}